<% layout('layout/boilerplate') %>
    <div>

    </div>
    <h1 class="" style="color:bisque"> CHIBAI RIAHBUK ah kalo lawm a che</h1>
    <p>
    <h1 style="color:bisque">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae minima,
        et laboriosam a quod consequatur adipisci enim quia ipsum omnis in libero
        nostrum exercitationem culpa veniam, natus facilis aperiam magni.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae sunt
        dolorem commodi dolorum quasi ut. Cum ducimus, unde praesentium vel obcaecati,
        et, aperiam soluta eaque temporibus laudantium doloremque iusto nemo?
        Molestias nostrum, laborum est corporis suscipit aliquid iusto omnis maiores
        quibusdam quo qui voluptatem molestiae? Sint neque rerum sed at a porro quidem

        enim autem ipsum tenetur. Molestiae, atque adipisci?
        Repellendus eveniet nihil eius! Voluptatibus aliquam tempore optio eos nisi!
        Et, incidunt a. Architecto voluptas commodi iste recusandae illum quas quasi
        itaque a quia? Accusantium facilis tenetur ipsam tempore delectus?
        Aspernatur voluptas voluptatem modi reiciendis officia inventore, aut possimus,
        ea neque vitae, repellat deleniti quia distinctio nihil dolorem atque veniam culpa
        blanditiis voluptatibus vero. Soluta expedita earum voluptate saepe cum?
        Unde, illum cupiditate. Reprehenderit esse laboriosam omnis iure excepturi deleniti,
        quos error, pariatur distinctio saepe voluptates consectetur hic. Ea ad corporis vel
        dolor molestias ipsam quisquam sequi vero quia assumenda.
        Hic sit facere iure incidunt optio similique inventore molestias dignissimos neque
        officia nihil cupiditate expedita, voluptatem porro minus! Dolorem dignissimos vitae
        quas doloremque sint eligendi vel odio nam nulla deleniti.
        Quidem, fugiat aliquid consequatur atque omnis doloremque repellat vel a non culpa
        porro temporibus sed recusandae debitis reprehenderit possimus dicta ullam quis
        quae numquam autem, eius accusantium sequi? Maiores, modi.
        Ipsam saepe iure odit a, consectetur ullam. Debitis eligendi recusandae corrupti
        dolorem, fugiat quis soluta asperiores non accusantium quibusdam, expedita at,
        natus nobis voluptate voluptates similique ducimus porro unde exercitationem?
        Voluptate recusandae amet sint odio sapiente! Necessitatibus voluptatum quod
        accusantium ducimus nesciunt ut hic beatae sequi deserunt consequuntur sint
        itaque assumenda, odit facere voluptatem sapiente doloremque ad porro nam perferendis.
        Voluptatibus placeat exercitationem officia, laudantium quaerat necessitatibus
        soluta voluptatum, ab alias ipsa, in quos maxime dolorem blanditiis vel quam pariatur! Nisi quasi magnam quas
        harum quod soluta maxime, totam ratione?
        porro temporibus sed recusandae debitis reprehenderit possimus dicta ullam quis
        quae numquam autem, eius accusantium sequi? Maiores, modi.
        Ipsam saepe iure odit a, consectetur ullam. Debitis eligendi recusandae corrupti
        dolorem, fugiat quis soluta asperiores non accusantium quibusdam, expedita at,
        natus nobis voluptate voluptates similique ducimus porro unde exercitationem?
        Voluptate recusandae amet sint odio sapiente! Necessitatibus voluptatum quod
        accusantium ducimus nesciunt ut hic beatae sequi deserunt consequuntur sint
        itaque assumenda, odit facere voluptatem sapiente doloremque ad porro nam perferendis.
        Voluptatibus placeat exercitationem officia, laudantium quaerat necessitatibus
        soluta voluptatum, ab alias ipsa, in quos maxime dolorem blanditiis vel quam pariatur! Nisi quasi magnam quas
        harum quod soluta maxime, totam ratione?
        porro temporibus sed recusandae debitis reprehenderit possimus dicta ullam quis
        quae numquam autem, eius accusantium sequi? Maiores, modi.
        Ipsam saepe iure odit a, consectetur ullam. Debitis eligendi recusandae corrupti
        dolorem, fugiat quis soluta asperiores non accusantium quibusdam, expedita at,
        natus nobis voluptate voluptates similique ducimus porro unde exercitationem?
        Voluptate recusandae amet sint odio sapiente! Necessitatibus voluptatum quod
        accusantium ducimus nesciunt ut hic beatae sequi deserunt consequuntur sint
        itaque assumenda, odit facere voluptatem sapiente doloremque ad porro nam perferendis.
        Voluptatibus placeat exercitationem officia, laudantium quaerat necessitatibus
        soluta voluptatum, ab alias ipsa, in quos maxime dolorem blanditiis vel quam pariatur! Nisi quasi magnam quas
        harum quod soluta maxime, totam ratione?
    </h1>
    </p>